.about {
  .first__about__section {
    box-sizing: border-box;
    background-color: var(--second-color-background);
    padding: 4rem 5% 4rem 5%;
    background-image: url("/public/media/png/selfieAXA.jpg");
    background-position: right;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s ease,
      height 0.3s ease;
    position: sticky;
    top: 0;

    .biography {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      position: relative;
    }
  }
}
