#app {
  background-color: var(--classic-color-background);
  font-family: Geist, Poppins, Arial, sans-serif;
  display: grid;
  grid-template-areas: "header header header" "content content content" "footer footer footer";

  .content {
    grid-area: content;
  }

  @media (min-width: 768px) {
    .content {
      border-radius: var(--border-radius-size);
    }
  }

  @media (max-width: 767px) {
    .content {
      padding-top: 7rem;
    }
  }
}
