.footer {
  background-color: var(--third-color-background);
  grid-column: ~"1/-1";
  padding: 1.4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  span {
    font-size: var(--small-font-size);
    color: var(--secondary-color-writing);
  }
}
