.navbar,
.navbar--mobile {
  float: right;

  .navbar__menu--static--on,
  .navbar__menu--click--on {
    .menu__content {
      ul {
        li {
          display: block;
          align-content: center;

          .link {
            &--active,
            &--inactive {
              position: relative;
              font-size: 1.5rem;
            }
          }

          .link {
            &--active,
            &--inactive {
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--shining-color-writing);
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 0.5s ease-out;
              }
            }
          }

          .link--active {
            color: var(--shining-color-writing);
          }

          .link--inactive {
            color: var(--white);
          }

          .link--inactive:hover {
            transition: color 0.3s ease;
            color: var(--shining-color-writing);
          }
        }

        li:hover {
          .link {
            &--active,
            &--inactive {
              &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
          }

          .link--inactive {
            transition: color 0.3s ease;
            color: var(--shining-color-writing);
          }
        }
      }
    }
  }
}

.navbar {
  .navbar__menu--static--on {
    .menu__content {
      ul {
        display: inline-flex;
        height: 5rem;

        li {
          .link {
            &--active,
            &--inactive {
              margin: 0 1.5rem;
            }
          }
        }
      }
    }
  }
}

.navbar--mobile {
  width: 100vw;

  .navbar__menu--click--on,
  .navbar__menu--click--off {
    display: inline;

    .menu__button {
      display: inline-flex;
      padding: 1rem 0;
    }
  }

  .navbar__menu--click--on {
    .menu__content {
      border-top: 1px solid var(--shining-color-writing);

      ul {
        li {
          display: flex;

          .link {
            &--active,
            &--inactive {
              margin: 1rem 2.5rem;
            }
          }
        }

        li:hover {
          background-color: grey;
        }
      }
    }
  }
}
