.radio__buttons__list {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &:has(.radio__option--unchecked:hover) > :not(:hover) {
    opacity: 0.3;
  }

  &:not(:has(:hover)) > :has(:checked),
  &:has(:hover) > :hover {
    background-color: var(--fourth-color-background);
    color: var(--shining-color-writing);

    label {
      font-weight: normal;
    }
  }

  > * {
    padding: 1rem;
    background-color: var(--third-color-background);
    border-radius: calc(var(--border-radius-size) / 2);
    border: var(--thin-border) var(--classic-color-writing);

    &:not(:has(:checked)) {
      cursor: pointer;

      > * {
        cursor: pointer;
      }
    }

    input {
      margin: 0 1rem;
    }
  }
}
