.radio__buttons__list {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &:has(:hover) > :not(:hover),
  &:not(:has(:hover)) > :not(:has(:checked)) {
    opacity: 0.3;
  }

  &:has(:hover) > :hover,
  &:not(:has(:hover)) > :has(:checked) {
    border-color: var(--shining-color-writing);
  }

  > * {
    padding: 1rem;
    background-color: var(--third-color-background);
    border-radius: calc(var(--border-radius-size) / 2);
    border: var(--thin-border) var(--classic-color-writing);

    &:not(:has(:checked)) {
      cursor: pointer;

      > * {
        cursor: pointer;
      }
    }

    input {
      margin: 0 1rem;
    }

    label {
    }

    &:hover,
    &:has(:checked) {
      color: var(--shining-color-writing);
    }
  }
}
