.settings {
  .tabs__menu {
    margin-top: var(--extra-font-size);

    .tabs__menu__content {
      form {
        color: var(--classic-color-writing);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .form__button__container {
          border-radius: 0 0 var(--border-radius-size) var(--border-radius-size);
        }
      }
    }
  }

  .modal .modal__content {
    text-align: justify;
  }
}
