.settings {
  .tabs__menu {
    margin-top: var(--extra-font-size);

    .tabs__menu__content {
      form {
        color: var(--classic-color-writing);
        display: flex;
        flex-direction: column;

        .radio__buttons__list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          > * {
            padding: 1rem 5rem 1rem 2rem;
          }
        }
      }
    }
  }

  .modal .modal__content {
    text-align: justify;
  }
}
