.settings {
  .tabs__menu {
    margin-top: var(--extra-font-size);
    background-color: var(--classic-color-background);

    .tabs__menu__content {
      form {
        color: var(--classic-color-writing);
        display: flex;
        flex-direction: column;
      }
    }
  }
}
